---
import Blobs from "../components/blobs.astro";
---

<main
  class="relative overflow-hidden scroll-from-left translate-x-full opacity-0 blur-sm
  transition-all duration-700 ease-in-out motion-reduce:transition-none"
>
  <div class="container flex flex-col items-center gap-y-5 md:flex-row">
    <div class="space-y-5 md:max-w-xs md:order-last lg:max-w-md">
      <div class="sectionheader">
        <h2>Esittely</h2>
        <p>Millainen on Miia?</p>
      </div>
      <p class="opacity-80">
        Aliquet egestas enim porta libero vitae facilisi ridiculus. Amet purus a
        interdum lacus interdum a nec luctus. Vel in est sit in orci orci ipsum
        cursus fringilla. Morbi imperdiet dictum adipiscing amet sed ligula.
        Aliquet egestas enim porta libero vitae facilisi ridiculus. Amet purus a
        interdum lacus interdum a nec luctus. Vel in est sit in orci orci ipsum
        cursus fringilla. Morbi imperdiet dictum adipiscing amet sed ligula.
      </p>
      <p class="opacity-80">
        Aliquet egestas enim porta libero vitae facilisi ridiculus. Amet purus a
        interdum lacus interdum a nec luctus. Vel in est sit in orci orci ipsum
        cursus fringilla. Morbi imperdiet dictum adipiscing amet sed ligula.
      </p>
    </div>
    <div
      id="image"
      class="relative self-end scroll-from-bottom translate-y-full blur-sm opacity-0 transition-all 
      duration-1000 ease-in-out motion-reduce:transition-none md:delay-300 md:-mr-12 lg:mr-0"
    >
      <img
        src="./images/amorit.png"
        alt="Miia ja Miikka, hämeenlinnan amorit"
      />
      <Blobs
        type="about-2"
        className="absolute -bottom-10 -left-20 scale-90 translate-y-20 opacity-25 -z-20 \
        md:translate-y-10 md:max-w-xl lg:max-w-2xl lg:rotate-12"
      />
      <Blobs
        type="about-1"
        className="absolute -bottom-12 -right-14 -rotate-6 translate-y-20 opacity-10 -z-20 \
        md:translate-y-0 md:max-w-lg xl:max-w-lg"
      />
    </div>
    <div
      class="absolute bottom-0 left-0 h-1/4 w-full bg-gradient-to-t from-primary to-transparent"
    >
    </div>
    <div
      class="absolute bottom-0 left-0 h-full w-full bg-gradient-to-l from-primary to-transparent -z-10"
    >
    </div>
  </div>
</main>
