---
import Blobs from "../components/blobs.astro";
---

<main id="esittely" class="relative overflow-hidden">
  <div
    class="container flex flex-col items-center gap-y-5 scroll-from-left translate-x-full opacity-0 blur-sm transition-all duration-700 ease-in-out motion-reduce:transition-none md:flex-row"
  >
    <div class="space-y-5 z-10 md:max-w-xs md:order-last lg:max-w-md">
      <div class="sectionheader">
        <h2>Referenssit</h2>
        <p>Millainen on Miia?</p>
      </div>
      <div>
        <p class="opacity-80">
          Miia omaa suuren sydämen ja se näkyy hänen esiintymisessä –
          valovoimainen esiintyjä, joka kuuntelee herkällä korvalla asiakkaan
          tarpeet.
        </p>
        <p class="italic">Miikka J. Anttila / Tuottaja ja näyttelijä</p>
      </div>
      <div>
        <p class="opacity-80">
          Miia ottaa yleisön kuin yleisön haltuunsa ilolla ja hymyllä!
        </p>
        <p class="italic">
          Enni Laukkanen / Ravintolapäällikkö Bar Skogster, Hämeen
          Ääni-laulukilpailun tuottaja
        </p>
      </div>
    </div>
    <div
      id="image"
      class="relative self-end scroll-from-bottom translate-y-full blur-sm opacity-0 transition-all duration-1000 ease-in-out motion-reduce:transition-none md:delay-300 md:-mr-12 lg:mr-0"
    >
      <img
        src="./images/amorit.png"
        alt="Miia ja Miikka, hämeenlinnan amorit"
      />
      <Blobs
        type="about-2"
        className="absolute -bottom-10 -left-20 scale-90 translate-y-20 opacity-25 -z-20 \
        md:translate-y-10 md:max-w-xl lg:max-w-2xl lg:rotate-12"
      />
      <Blobs
        type="about-1"
        className="absolute -bottom-12 -right-14 -rotate-6 translate-y-20 opacity-10 -z-20 \
        md:translate-y-0 md:max-w-lg xl:max-w-lg"
      />
    </div>
    <div
      class="absolute bottom-0 left-0 h-1/4 w-full bg-gradient-to-t from-primary to-transparent"
    >
    </div>
    <div
      class="absolute bottom-0 left-0 h-full w-full bg-gradient-to-l from-primary to-transparent -z-10"
    >
    </div>
  </div>
</main>
