<section id="kokemuksia" class="container space-y-5">
  <div class="sectionheader">
    <h3>Kokemuksia</h3>
    <p>Sielt채 sun t채채lt채</p>
  </div>
  <div class="imagecarousel">
    <div class="relative">
      <img
        src="./images/experiences/linnanbisnesturnajaiset_2023.jpg"
        alt="Kuva linnan business turjaisista"
        class="grayscale"
      />
      <div class="absolute inset-0 m-auto w-full h-full bg-secondary-300 mix-blend-color opacity-50"/>
      <div class="absolute left-0 bottom-0 w-full h-1/2 bg-gradient-to-t from-primary to-transparent
        flex flex-col justify-end items-center">
        <p class="text-lg font-bold">Linnan Business Turnajaiset - 2023</p>
        <p>pp.kk.vvvv</p>
      </div>
    </div>
  </div>
</section>
