---
const currentYear = new Date().getFullYear();
---

<footer class="relative py-10">
  <div class="container space-y-3">
    <div class="flex flex-wrap justify-center space-x-3 [&>a]:text-secondary [&>p]:opacity-50">
      <a href="#" class="underline-offset-4 hover:underline">Etusivu</a>
      <p>—</p>
      <a href="#esittely" class="underline-offset-4 hover:underline">Esittely</a>
      <p>—</p>
      <a href="#kokemuksia" class="underline-offset-4 hover:underline">Kokemuksia</a>
      <p>—</p>
      <a href="#yhteistyökumppanit" class="underline-offset-4 hover:underline">Yhteistyökumppanit</a>
      <p>—</p>
      <a href="#yhteystiedot" class="underline-offset-4 hover:underline">Yhteystiedot</a>
    </div>
    <p class="opacity-80 text-center">&copy; Miia Raussi {currentYear}</p>
  </div>
  <div class="absolute bottom-0 left-0 w-full h-full bg-gradient-to-t from-secondary-700 to-transparent opacity-30 -z-10"/>
</footer>
