---
import Blobs from "../components/blobs.astro";
import contactInfo from "../data/contactinfo.json";
---

<header class="relative overflow-hidden pt-14">
  <div class="container flex flex-col justify-between gap-y-3 md:flex-row">
    <div class="space-y-3 z-10 max-w-xl md:max-w-xs lg:max-w-xl self-center">
      <h1
        class="text-[6rem] leading-[0.85] font-bold text-gradient select-none"
      >
        Miia Raussi
      </h1>
      <p class="text-3xl leading-[1.2]">Juontaja</p>
      <p class="opacity-80">
        Juontajana olen iloinen ja empaattinen energisyyttä unohtamatta! Voit
        tilata minut juontajaksi silloin, kun haluat isoon tai pieneen
        tilaisuuteesi rytmin ja rakenteen sekä sujuvan kulun. Minulle on
        tärkeää, että jokainen tapahtuma on ainutlaatuinen ja unohtumaton. Sen
        vuoksi teen aina parhaani varmistaakseni, että kaikki sujuu
        suunnitellusti ja että yleisö viihtyy.
      </p>
      <p class="opacity-80">
        Ole yhteydessä ja yksi osa-alue on poissa harteiltasi ja voit keskittyä
        tilaisuuteen sekä vieraisiisi! Juonnan mielelläni messut, juhlat ja
        yritystilaisuudet. Kysy tarjous!
      </p>
      <div
        class="absolute bottom-0 left-0 flex gap-x-3 px-8 [&>a>img]:w-7 [&>a>img]:aspect-square md:static md:px-0"
      >
        {
          contactInfo.map((social) => (
            <a
              href="#yhteystiedot"
              class="relative transition-all group hover:brightness-75"
            >
              <img src={`./icons/${social.icon}`} alt={`${social.name} logo`} />
              <p
                class="absolute -bottom-10 left-1/2 -translate-x-1/2 bg-primary-900
                p-1 rounded-lg shadow-neutral-900 shadow-xl opacity-0 transition-all
                whitespace-nowrap group-hover:opacity-100"
              >
                {social.tag}
              </p>
            </a>
          ))
        }
      </div>
    </div>
    <div class="relative self-end md:pt-8">
      <img
        src="./images/contact.webp"
        alt="Kuva Miiasta amor asussaan"
        class="max-w-md self-end w-full mx-auto max-h-[600px]"
      />
      <Blobs
        type="header"
        colorClass="fill-secondary-300 opacity-25"
        className="absolute -bottom-28 -right-20 w-full max-w-sm scale-150 -z-10 \
        md:scale-125 md:max-w-2xl md:-right-1/4"
      />
      <Blobs
        type="header"
        colorClass="fill-secondary-300 opacity-10"
        className="absolute -bottom-36 right-1/4 w-full max-w-md scale-150 rotate-45 -z-20"
      />
    </div>
    <div
      class="bg-gradient-to-t from-primary to-transparent h-1/3 w-full absolute bottom-0 left-0"
    >
    </div>
    <div
      class="h-full w-full bg-gradient-to-r from-primary to-transparent absolute inset-0 m-auto -z-10 opacity-75"
    >
    </div>
  </div>
</header>
