--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="./favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-primary-100 bg-primary min-w-[350px] space-y-24">
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	}
  .container {
    @apply mx-auto px-5 max-w-5xl sm:px-10 md:px-12 xl:px-0;
  }
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-secondary to-secondary-300;
  }
  .sectionheader > h2 {
    font-size: 3rem; 
    margin-bottom: -0.7rem;
    @apply font-bold text-gradient;
  }
  .sectionheader > h3 {
    font-size: 1.75rem; 
    @apply font-bold text-gradient;
  }
  .sectionheader > p {
    font-size: 1.5rem; 
  }
</style>
